
@model IEnumerable<Producto>
@{
    ViewData["Title"] = "Productos";
}

<h1>Productos</h1>
<p>
    <a asp-action="Create" class="btn btn-success">Nuevo Producto</a>
</p>
<table class="table">
    <thead>
        <tr><th>Id</th><th>Nombre</th><th>Precio</th><th>Acciones</th></tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.Nombre</td>
                <td>@item.Precio.ToString("C")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-info btn-sm">Ver</a>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>

</table>
